<head>
    <!--LIBRARIES-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">Allegro Categorizer</div>
        </div>
      </div>
    </nav>

    <div class="container">
        <h4>
            Paste url of an Allegro web auction and check if it is a computer.
        </h4>
        <form class="form-signin" action = "http://localhost:5000/" method = "POST">
            <p><input class="form-control" type = "text"name="username" /></p>
            <p><input class="btn btn-lg btn-primary btn-block" type="submit" value="Check!" /></p>
        </form>
        <br/>
        <br/>
        <h3 style="text-align: center">{{ result }}</h3>
     </div>
</body>